// Third party libraries.
script(src='/public/bower_components/jquery/dist/jquery.min.js')
script(src='/public/bower_components/lodash/lodash.min.js')
script(src='/public/bower_components/angular/angular.min.js')
script(src='/public/bower_components/angular-animate/angular-animate.min.js')
script(src='/public/bower_components/angular-touch/angular-touch.min.js')
script(src='/public/bower_components/angular-resource/angular-resource.min.js')
script(src='/public/bower_components/angular-route/angular-route.min.js')
script(src='/public/bower_components/angular-sanitize/angular-sanitize.min.js')
script(src='/public/bower_components/moment/min/moment-with-locales.min.js')


// Panel files.
script(src='/public/js/app.js')
script(src='/public/js/config.js')
script(src='/public/js/routes.js')
script(src='/public/js/helper.js')

// Filters
script(src='/public/js/filters/fromNow.js')
script(src='/public/js/filters/simpleDate.js')

// Home
script(src='/public/components/home/resource.js')
script(src='/public/components/home/controller.js')

